spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
        id:
          new_generator_mappings: false
  h2:
    console:
      enabled: true
      path: /h2-console
  activemq:
    in-memory: false
    broker-url: tcp://localhost:61616
    user: admin
    password: admin

activemq:
  destination: email

server:
  port: 4001
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: on_trace_param
    include-exception: false
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true


security:
  jwt:
    token:
      secret-key: secret-key
      expire-length: 300000 # 5 minutes duration by default: 5 minutes * 60 seconds * 1000 miliseconds

logbook:
  include: "**/users**"

logging:
  level:
    org:
      zalando:
        logbook: TRACE

UserController:
  signin: Authenticates user and returns its JWT token.
  signup: Creates user and returns its JWT token
  delete: Deletes specific user by username
  search: Returns specific user by username
  me: Returns current user's data
  refresh: Refreshes token for logged in user
  getAll: Get all users
  edit: Edits user details

JmsSender:
  sendEmail: Sending email to Active MQ

management:
  endpoints:
    web:
      exposure:
        include: "*"

