spring:
  activemq:
    in-memory: false
    broker-url: tcp://host.docker.internal:61616
    user: admin
    password: admin

activemq:
  destination: email

server:
  port: 4001
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: NEVER
    include-exception: false
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

security:
  jwt:
    token:
      secret-key: 4DZ3+asC4/EOVmPdsSFizGMBlxnws+CLgiX9I1hl3AA= # WARN: do not do this for real apps :)
      expire-length: 300000 # 5 minutes duration by default: 5 minutes * 60 seconds * 1000 miliseconds

logging:
  level:
    org:
      zalando:
        logbook: TRACE

management:
  endpoints:
    web:
      exposure:
        include: "*"

