spring:
  profiles:
    active: docker
  main:
    allow-bean-definition-overriding: true

server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

logging:
  file:
    name: logs/application.log
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  level:
    root: INFO
    com.awesome.testing: DEBUG
    org.springframework.web: INFO
    org.springframework.security: INFO
    org.zalando.logbook: INFO

logbook:
  include: "/**"
  exclude: 
    - "/swagger-ui/**"
    - "/v3/api-docs"
    - "/v3/api-docs/**"
    - "/actuator/**"
    - "/favicon.ico"
    - "/api/ollama/chat/**"
  format:
    style: json
  write:
    chunk-size: 1000
  filter.enabled: true
  obfuscate:
    headers:
      - x-secret
      - cookie
  
UserController:
  signin: Authenticates user and returns its JWT token.
  signup: Creates user and returns its JWT token
  delete: Deletes specific user by username
  search: Returns specific user by username
  me: Returns current user's data
  refresh: Refreshes token for logged in user
  getAll: Get all users
  edit: Edits user details

JmsSender:
  sendEmail: Sending email to Active MQ

ollama:
  base-url: http://localhost:11434
